.flipXZoomOut { animation-name: flipXZoomOut }
@keyframes flipXZoomOut {
    from {
      transform: perspective(600px) rotateX(0deg) scale(1);
      animation-timing-function: ease-out;
    }
    40% {
      transform: perspective(600px) rotateX(180deg) scale(1.8);
      animation-timing-function: ease-out;
    }
    80% {
      transform: perspective(600px) rotateX(360deg) scale(.7);
      animation-timing-function: ease-in;
    }
    to  { transform: scale(1) }
}