.menu {
  background-color: #3f3c4c;
  padding: 5px 0; }
  .menu .logo {
    max-width: 100%; }

.main-menu ul li {
  padding-top: 25px;
  list-style: none;
  display: inline-flex;
  text-transform: uppercase;
  font-family: "Avenir Next"; }
  .main-menu ul li a {
    color: white;
    margin-right: 10px; }

.presentacion {
  padding-top: 120px;
  padding-bottom: 100px;
  font-family: "Avenir Next";
  font-size: 12pt; }

.presentacion .caracteristicas {
  padding: 50px 0; }

.caracteristicas img {
  max-width: 40%;
  text-align: center; }
.caracteristicas .primario {
  background-color: #ff414d;
  border-radius: 5px;
  border: none;
  padding: 5px 20px;
  color: white;
  font-size: 12pt;
  font-weight: 500; }

.pizarron {
  display: block;
  width: 100%;
  height: 200px;
  position: relative; }
  .pizarron .pieza {
    display: inline-block;
    width: 34%;
    height: 100px;
    background-image: url("../img/cork.jpg");
    position: absolute; }
  .pizarron .uno {
    animation-name: slideout;
    animation-iteration-count: 1;
    animation-duration: 2s;
    bottom: 50%;
    left: 0; }
  .pizarron .dos {
    animation-name: slideouttwo;
    animation-iteration-count: 1;
    animation-duration: 2s;
    bottom: 50%;
    left: 33.3%; }
  .pizarron .tres {
    animation-name: slideoutthree;
    animation-iteration-count: 1;
    animation-duration: 2s;
    bottom: 50%;
    right: 0; }
  .pizarron .cuatro {
    animation-name: slideouttwo;
    animation-iteration-count: 1;
    animation-duration: 2s;
    bottom: 0;
    left: 0; }
  .pizarron .cinco {
    animation-name: slideout;
    animation-iteration-count: 1;
    animation-duration: 2s;
    bottom: 0;
    left: 33.3%; }
  .pizarron .seis {
    animation-name: slideoutthree;
    animation-iteration-count: 1;
    animation-duration: 2s;
    bottom: 0;
    right: 0; }

@keyframes slideout {
  25% {
    height: 100px; }
  50% {
    height: 0; }
  75% {
    height: 0; }
  100% {
    height: 0; } }
@keyframes slideouttwo {
  25% {
    height: 100px; }
  50% {
    height: 100px; }
  75% {
    height: 0; }
  100% {
    height: 0; } }
@keyframes slideoutthree {
  25% {
    height: 100px; }
  50% {
    height: 100px; }
  75% {
    height: 100px; }
  100% {
    height: 0; } }
.materiales {
  background-color: #e4f5f6;
  padding: 80px 0; }
  .materiales h1 {
    text-transform: uppercase;
    color: #ff414d;
    font-size: 30pt;
    font-weight: 700;
    text-align: center;
    margin-bottom: 90px; }
  .materiales img {
    max-width: 100%;
    margin: 0px 90px; }

.productos {
  background-color: #ffd9db;
  padding: 80px 0;
  padding-bottom: 400px; }
  .productos h2 {
    text-transform: uppercase;
    color: #3f3c4c;
    font-size: 30pt;
    font-weight: 700;
    text-align: center;
    margin-bottom: 90px; }

.desk {
  background-image: url("../img/desk.png");
  display: block;
  width: 100%;
  height: 500px;
  background-color: red;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .desk .case {
    position: absolute;
    display: block;
    background-color: blue;
    width: 20px;
    height: 30px;
    z-index: 1;
    top: 0;
    left: 43%; }

@keyframes fall {
  0% {
    height: 100px; }
  50% {
    height: 0; }
  75% {
    height: 0; }
  100% {
    height: 0; } }
.usos {
  background-color: #d9d8db;
  padding: 80px 0; }

.testimonios {
  background-color: #ffffff;
  padding: 80px 0; }

.footer {
  background-color: #3f3c4c;
  padding: 90px 0 140px 0; }
  .footer .logo img {
    max-width: 100%; }
  .footer h2 {
    color: white;
    font-size: 12pt;
    font-weight: 400; }
  .footer p {
    color: white;
    font-size: 10pt; }
  .footer .redes img {
    padding-left: 15px; }
