.menu {
  background-color: #3f3c4c;
  padding: 5px 0; }
  .menu .logo {
    max-width: 100%; }

.main-menu ul li {
  padding-top: 25px;
  list-style: none;
  display: inline-flex;
  text-transform: uppercase;
  font-family: "Avenir Next"; }
  .main-menu ul li a {
    color: white;
    margin-right: 10px; }

.presentacion {
  padding-top: 120px;
  padding-bottom: 100px;
  font-family: "Avenir Next";
  font-size: 12pt; }

.presentacion .caracteristicas {
  padding: 50px 0; }

.caracteristicas img {
  max-width: 40%;
  text-align: center; }
.caracteristicas .primario {
  background-color: #ff414d;
  border-radius: 5px;
  border: none;
  padding: 5px 20px;
  color: white;
  font-size: 12pt;
  font-weight: 500; }

.pizarron {
  display: block;
  width: 100%;
  height: 200px;
  position: relative; }
  .pizarron .pieza {
    display: inline-block;
    width: 34%;
    height: 100px;
    background-image: url("../img/cork.jpg");
    position: absolute; }
  .pizarron .uno {
    animation-name: slideout;
    animation-iteration-count: 1;
    animation-duration: 2s;
    bottom: 50%;
    left: 0; }
  .pizarron .dos {
    animation-name: slideouttwo;
    animation-iteration-count: 1;
    animation-duration: 2s;
    bottom: 50%;
    left: 33.3%; }
  .pizarron .tres {
    animation-name: slideoutthree;
    animation-iteration-count: 1;
    animation-duration: 2s;
    bottom: 50%;
    right: 0; }
  .pizarron .cuatro {
    animation-name: slideouttwo;
    animation-iteration-count: 1;
    animation-duration: 2s;
    bottom: 0;
    left: 0; }
  .pizarron .cinco {
    animation-name: slideout;
    animation-iteration-count: 1;
    animation-duration: 2s;
    bottom: 0;
    left: 33.3%; }
  .pizarron .seis {
    animation-name: slideoutthree;
    animation-iteration-count: 1;
    animation-duration: 2s;
    bottom: 0;
    right: 0; }

@keyframes slideout {
  25% {
    height: 100px; }
  50% {
    height: 0; }
  75% {
    height: 0; }
  100% {
    height: 0; } }
@keyframes slideouttwo {
  25% {
    height: 100px; }
  50% {
    height: 100px; }
  75% {
    height: 0; }
  100% {
    height: 0; } }
@keyframes slideoutthree {
  25% {
    height: 100px; }
  50% {
    height: 100px; }
  75% {
    height: 100px; }
  100% {
    height: 0; } }
.materiales {
  background-color: #e4f5f6;
  padding: 80px 0; }
  .materiales h1 {
    text-transform: uppercase;
    color: #ff414d;
    font-size: 30pt;
    font-weight: 700;
    text-align: center;
    margin-bottom: 90px; }
  .materiales img {
    max-width: 100%;
    margin: 0px 90px; }

.productos {
  background-color: #ffd9db;
  padding: 80px 0;
  padding-bottom: 400px; }
  .productos h2 {
    text-transform: uppercase;
    color: #3f3c4c;
    font-size: 30pt;
    font-weight: 700;
    text-align: center;
    margin-bottom: 90px; }

.animationWrapper {
  width: 100%;
  padding-bottom: 55%;
  background-color: yellow;
  position: relative; }
  .animationWrapper .desk {
    position: absolute;
    background-image: url("../img/desk.png");
    width: 100%;
    height: 100%;
    display: block;
    background-color: #af3f3f2e;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .animationWrapper .plato {
    animation-name: fall;
    animation-iteration-count: 1;
    animation-duration: 2s;
    position: absolute;
    background-image: url("../img/platocactus.png");
    top: 0;
    left: 26%;
    width: 50%;
    height: 30%; }
  .animationWrapper .cactusuno {
    animation-name: falltwo;
    animation-iteration-count: 1;
    animation-duration: 2s;
    position: absolute;
    background-image: url("../img/cactus1.png");
    top: 0;
    left: 26%;
    width: 200px;
    height: 200px; }
  .animationWrapper .cactusdos {
    animation-name: fallthree;
    animation-iteration-count: 1;
    animation-duration: 2s;
    position: absolute;
    background-image: url("../img/cactus2.png");
    top: 0;
    left: 20%;
    width: 100%;
    height: 100%; }

@keyframes fall {
  0% {
    top: 0; }
  50% {
    top: 30px; }
  75% {
    top: 30px; }
  100% {
    top: 30px; } }
@keyframes falltwo {
  0% {
    top: 0; }
  50% {
    top: 27px; }
  75% {
    top: 27px; }
  100% {
    top: 27px; } }
@keyframes fallthree {
  0% {
    top: 0; }
  50% {
    top: 27px; }
  75% {
    top: 27px; }
  100% {
    top: 27px; } }
.usos {
  background-color: #d9d8db;
  padding: 80px 0; }

.testimonios {
  background-color: #ffffff;
  padding: 80px 0; }

.footer {
  background-color: #3f3c4c;
  padding: 90px 0 140px 0; }
  .footer .logo img {
    max-width: 100%; }
  .footer h2 {
    color: white;
    font-size: 12pt;
    font-weight: 400; }
  .footer p {
    color: white;
    font-size: 10pt; }
  .footer .redes img {
    padding-left: 15px; }
