.primario {
  background-color: #ff414d;
  border-radius: 5px;
  border: none;
  padding: 5px 20px;
  color: white;
  font-size: 12pt;
  font-weight: 500; }

.menu {
  background-color: #3f3c4c;
  padding: 5px 0; }
  .menu .logo {
    max-width: 100%; }
  .menu .menu-header_menu-container ul {
    margin-bottom: 0;
    padding-top: 17px; }
    .menu .menu-header_menu-container ul li {
      list-style: none;
      padding: 0 20px; }
      .menu .menu-header_menu-container ul li a {
        color: white;
        text-transform: uppercase; }

.presentacion {
  padding-top: 120px;
  padding-bottom: 100px;
  font-family: "Avenir Next";
  font-size: 12pt; }

img.pizarron {
  max-width: 100%;
  text-align: center; }

.presentacion .caracteristicas {
  padding: 50px 0; }

.caracteristicas img {
  max-width: 70%;
  text-align: center; }

.materiales {
  background-color: #e4f5f6;
  padding: 80px 0; }
  .materiales h1 {
    text-transform: uppercase;
    color: #ff414d;
    font-size: 30pt;
    font-weight: 700;
    text-align: center;
    margin-bottom: 90px; }
  .materiales img {
    max-width: 100%;
    margin: 0px 90px; }

.productos {
  background-color: #ffffff;
  padding: 80px 0; }
  .productos h2 {
    text-transform: uppercase;
    color: #ff414d;
    font-size: 30pt;
    font-weight: 700;
    text-align: center;
    margin-bottom: 90px; }
  .productos .other-product {
    background-color: white;
    padding: 25px 0;
    text-align: center;
    border-radius: 15px;
    border: 5px dashed #ff414d; }
    .productos .other-product img {
      max-width: 50%;
      margin-bottom: 25px; }
    .productos .other-product h3 {
      color: #ff414d; }
    .productos .other-product .secundario {
      border-radius: 5px;
      border: 2px solid #ff414d;
      padding: 5px 20px;
      color: #ff414d;
      font-size: 12pt;
      font-weight: 500; }

.usos {
  background-color: #d9d8db;
  padding: 80px 0; }

.testimonios {
  background-color: #ffffff;
  padding: 80px 0;
  text-align: center; }

.footer {
  background-color: #3f3c4c;
  padding: 90px 0 140px 0; }
  .footer .logo img {
    max-width: 150%; }
  .footer h1 {
    color: white;
    font-size: 12pt;
    font-weight: 400; }
  .footer p {
    color: white;
    font-size: 10pt; }
  .footer .formulario {
    background-color: white;
    border-radius: 20px;
    padding: 20px 10px; }
    .footer .formulario h2 {
      color: #ff414d;
      text-align: center; }
    .footer .formulario .indicates-required {
      font-size: 10pt;
      padding: 10px 0;
      color: #3f3c4c; }
    .footer .formulario .mc-field-group input {
      border-radius: 5px;
      box-shadow: 0;
      border: 1px solid #ffa7ad; }

.posfooter {
  background-color: #302f36;
  color: #ffffff;
  font-size: 12pt;
  font-weight: 400; }
  .posfooter img {
    max-width: 100%; }
