.primario {
  background-color: #ff414d;
  border-radius: 5px;
  border: none;
  padding: 5px 20px;
  color: white;
  font-size: 12pt;
  font-weight: 500; }

.secundario {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #2ea9b0;
  border-color: #2ea9b0;
  padding: 5px 10px;
  color: #ff414d;
  font-size: 12pt;
  font-weight: 500; }

h1 {
  text-transform: uppercase;
  color: #ff414d;
  font-size: 30pt;
  font-weight: 700;
  text-align: center;
  margin-bottom: 90px; }

h2 {
  font-size: 30pt;
  font-weight: 700;
  text-align: center;
  margin-bottom: 90px; }

.menu {
  background-color: #3f3c4c;
  padding: 5px 0; }
  .menu .logo {
    max-width: 100%; }
  .menu .menu-header_menu-container ul {
    margin-bottom: 0;
    padding-top: 17px; }
    .menu .menu-header_menu-container ul li {
      list-style: none;
      padding: 0 20px;
      padding-top: 20px; }
      .menu .menu-header_menu-container ul li a {
        color: white;
        text-transform: uppercase; }

.presentacion {
  padding-top: 120px;
  padding-bottom: 100px;
  font-family: "Avenir Next";
  font-size: 12pt; }

img.pizarron {
  max-width: 100%;
  text-align: center; }

.presentacion .caracteristicas {
  padding: 50px 0; }

.caracteristicas img {
  max-width: 70%;
  text-align: center; }

.materiales {
  background-color: #e4f5f6;
  padding: 80px 0; }
  .materiales h1 {
    text-transform: uppercase;
    color: #ff414d;
    font-size: 30pt;
    font-weight: 700;
    text-align: center;
    margin-bottom: 90px; }
  .materiales img {
    max-width: 100%;
    margin: 0px 90px; }

.productos {
  background-color: #ffffff;
  padding: 80px 0; }
  .productos h2 {
    text-transform: uppercase;
    color: #ff414d;
    font-size: 30pt;
    font-weight: 700;
    text-align: center;
    margin-bottom: 90px; }
  .productos .other-product {
    background-color: white;
    padding: 25px 0;
    text-align: center;
    border-radius: 15px;
    border: 5px dashed #ff414d; }
    .productos .other-product img {
      max-width: 50%;
      margin-bottom: 25px; }
    .productos .other-product h3 {
      color: #ff414d; }
    .productos .other-product .secundario {
      border-radius: 5px;
      border: 2px solid #ff414d;
      padding: 5px 20px;
      color: #ff414d;
      font-size: 12pt;
      font-weight: 500; }

.usos {
  background-color: #d9d8db;
  padding: 80px 0; }

.testimonios {
  background-color: #ffffff;
  padding: 80px 0;
  text-align: center; }

.footer {
  background-color: #3f3c4c;
  padding: 90px 0 140px 0; }
  .footer .logo img {
    max-width: 150%; }
  .footer h1 {
    color: white;
    font-size: 12pt;
    font-weight: 400; }
  .footer p {
    color: white;
    font-size: 10pt; }
  .footer .formulario {
    background-color: white;
    border-radius: 20px;
    padding: 20px 10px; }
    .footer .formulario h2 {
      color: #ff414d;
      text-align: center; }
    .footer .formulario .indicates-required {
      font-size: 10pt;
      padding: 10px 0;
      color: #3f3c4c; }
    .footer .formulario .mc-field-group input {
      border-radius: 5px;
      box-shadow: 0;
      border: 1px solid #ffa7ad; }

.posfooter {
  background-color: #302f36;
  padding-top: 20px; }
  .posfooter img {
    max-width: 100%; }
  .posfooter h5 a {
    color: #ffffff;
    font-size: 12pt;
    font-weight: 400; }

/* woocomerce single product */
div.product {
  text-align: center; }
  div.product h2.product_title.entry-title {
    color: #ff414d; }
  div.product img.attachment-shop_single.size-shop_single.wp-post-image {
    padding: 20px; }
  div.product span.woocommerce-Price-amount.amount {
    color: #ff414d; }
  div.product .woocommerce-product-details__short-description {
    border-radius: 15px;
    border: 4px dashed #ff414d; }

.input-number {
  background-color: #3f3c4c;
  border: none;
  border-radius: 5px;
  margin: 15px 0 15px 0;
  color: white;
  text-align: center;
  width: 60px;
  height: 30px; }

/* etiquetas de producto */
.posted_in {
  font-size: 8pt;
  color: #92989e;
  text-transform: uppercase;
  margin: 15px 0 15px 0; }

/* descripcion opiniones */
.tabs.wc-tabs ul {
  text-align: center; }
.tabs.wc-tabs li {
  list-style: none;
  display: inline-flex;
  margin-right: 40px; }
.tabs.wc-tabs a {
  color: #3f3c4c;
  font-weight: 500; }

/* CARRITO */
table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
  border: 4px dashed #ff414d;
  border-radius: 10px;
  text-align: center; }

.woocommerce table.shop_table {
  border-color: #ff414d; }

tr {
  color: #2ea9b0; }

.cart-collaterals {
  color: #ff414d; }

/* TOTAL */
.cart_totals {
  border: 3px dashed #ff414d;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px; }

.tagpin_shop .product .woocommerce-LoopProduct-link, .tagpin_shop .product .woocommerce-loop-product__link {
  text-decoration: none;
  display: block;
  padding: 30px;
  background: #e4f5f6;
  position: relative;
  border: 3px dashed #ff414d;
  border-radius: 5px;
  margin: 20px 0; }
  .tagpin_shop .product .woocommerce-LoopProduct-link .onsale, .tagpin_shop .product .woocommerce-loop-product__link .onsale {
    position: absolute;
    top: 10%;
    left: -10%;
    background: yellow;
    padding: 0px 10px; }
  .tagpin_shop .product .woocommerce-LoopProduct-link h2, .tagpin_shop .product .woocommerce-LoopProduct-link .woocommerce-loop-product__title, .tagpin_shop .product .woocommerce-loop-product__link h2, .tagpin_shop .product .woocommerce-loop-product__link .woocommerce-loop-product__title {
    padding: 20px 0; }
  .tagpin_shop .product .woocommerce-LoopProduct-link .price del .woocommerce-Price-amount, .tagpin_shop .product .woocommerce-loop-product__link .price del .woocommerce-Price-amount {
    padding: 10px; }
  .tagpin_shop .product .woocommerce-LoopProduct-link .price ins .woocommerce-Price-amount, .tagpin_shop .product .woocommerce-loop-product__link .price ins .woocommerce-Price-amount {
    padding: 10px;
    background-color: #ff414d;
    color: #ffffff; }
.tagpin_shop .product .primario {
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
  text-decoration: none; }
.tagpin_shop .product:hover .woocommerce-LoopProduct-link, .tagpin_shop .product:hover .woocommerce-loop-product__link {
  background-color: yellow; }
.tagpin_shop .product:hover .primario {
  background-color: yellow; }
