// - - - - - - - - - - - -
// VARIABLES
// - - - - - - - - - - - -

// COLORES

$uva    :      #3f3c4c
$fresa  :      #ff414d
$cielo  :      #e4f5f6
$rosa   :      #ffd9db
$gris   :      #d9d8db
$blanco :      #ffffff

// FUENTES

$fuentePrimaria : "Avenir Next"

// - - - - - - - - - - - -
// ESTILOS
// - - - - - - - - - - - -

// BOTONES

.primario
  background-color: $fresa
  border-radius: 5px
  border: none
  padding: 5px 20px
  color: white
  font-size: 12pt
  font-weight: 500

h2
  font-size: 30pt
  font-weight: 700
  text-align: center
  margin-bottom: 90px

// HEADER

// MENU

// CONTENT

// FOOTER

.menu
  background-color: $uva
  padding: 5px 0
  .logo
    max-width: 100%
  .menu-header_menu-container
    ul
      margin-bottom: 0
      padding-top: 17px
      li
        list-style: none
        padding: 0 20px
        padding-top: 20px
        a
          color: white
          text-transform: uppercase



// .main-menu ul li
//   padding-top: 25px
//   list-style: none
//   display: inline-flex
//   text-transform: uppercase
//   font-family: "Avenir Next"
//   a
//     color: white
//     margin-right: 10px

.presentacion
  padding-top: 120px
  padding-bottom: 100px
  font-family: $fuentePrimaria
  font-size: 12pt

img.pizarron
  max-width: 100%
  text-align: center

.presentacion .caracteristicas
  padding: 50px 0

.caracteristicas
  img
    max-width: 70%
    text-align: center

.materiales
  background-color: #e4f5f6
  padding: 80px 0
  h1
    text-transform: uppercase
    color: #ff414d
    font-size: 30pt
    font-weight: 700
    text-align: center
    margin-bottom: 90px
  img
    max-width: 100%
    margin: 0px 90px

.productos
  background-color: $blanco
  padding: 80px 0
  // padding-bottom: 400px
  h2
    text-transform: uppercase
    color: $fresa
    font-size: 30pt
    font-weight: 700
    text-align: center
    margin-bottom: 90px
  .other-product
    background-color: white
    padding: 25px 0
    text-align: center
    border-radius: 15px
    border: 5px dashed $fresa
    img
      max-width: 50%
      margin-bottom: 25px
    h3
      color: $fresa
    .secundario
      border-radius: 5px
      border: 2px solid $fresa
      padding: 5px 20px
      color: $fresa
      font-size: 12pt
      font-weight: 500

.usos
  background-color: #d9d8db
  padding: 80px 0

.testimonios
  background-color: #ffffff
  padding: 80px 0
  text-align: center

.footer
  background-color: $uva
  padding: 90px 0 140px 0
  .logo img
    max-width: 150%
  h1
    color: white
    font-size: 12pt
    font-weight: 400
  p
    color: white
    font-size: 10pt

  //MAILCHIMP
  .formulario
    background-color: white
    border-radius: 20px
    padding: 20px 10px
    h2
      color: $fresa
      text-align: center
    .indicates-required
      font-size: 10pt
      padding: 10px 0
      color: $uva
    .mc-field-group
      input
        border-radius: 5px
        box-shadow: 0
        border: 1px solid lighten($fresa, 20%)
.posfooter
  background-color: #302f36
  padding-top: 20px
  img
    max-width: 100%
  h5
    color: $blanco
    font-size: 12pt
    font-weight: 400
/* woocomerce single product */
div.product
  text-align: center
  h2.product_title.entry-title
    color: $fresa
  img.attachment-shop_single.size-shop_single.wp-post-image
    padding: 20px 
  span.woocommerce-Price-amount.amount
    color: $fresa
  .woocommerce-product-details__short-description
    border-radius: 15px
    border: 4px dashed $fresa
// input cantidad de productos  
.input-number
  background-color: $uva
  border: none
  border-radius: 5px
  margin: 15px 0 15px 0
  color: white
  text-align: center
  width: 60px
  height: 30px
/* etiquetas de producto*/
.posted_in
  font-size: 8pt
  color: #92989e
  text-transform: uppercase
  margin: 15px 0 15px 0



