.menu {
  background-color: #3f3c4c;
  padding: 5px 0; }
  .menu .logo {
    max-width: 100%; }
  .menu .menu-header_menu-container ul {
    margin-bottom: 0; }
    .menu .menu-header_menu-container ul li {
      list-style: none;
      padding: 0 20px; }
      .menu .menu-header_menu-container ul li a {
        color: white;
        text-transform: uppercase; }

.presentacion {
  padding-top: 120px;
  padding-bottom: 100px;
  font-family: "Avenir Next";
  font-size: 12pt; }

img.pizarron {
  max-width: 100%;
  text-align: center; }

.presentacion .caracteristicas {
  padding: 50px 0; }

.caracteristicas img {
  max-width: 40%;
  text-align: center; }

.caracteristicas .primario {
  background-color: #ff414d;
  border-radius: 5px;
  border: none;
  padding: 5px 20px;
  color: white;
  font-size: 12pt;
  font-weight: 500;
  margin-top: 60px; }

.materiales {
  background-color: #e4f5f6;
  padding: 80px 0; }
  .materiales h1 {
    text-transform: uppercase;
    color: #ff414d;
    font-size: 30pt;
    font-weight: 700;
    text-align: center;
    margin-bottom: 90px; }
  .materiales img {
    max-width: 100%;
    margin: 0px 90px; }

.productos {
  background-color: #ffd9db;
  padding: 80px 0;
  padding-bottom: 400px; }
  .productos h2 {
    text-transform: uppercase;
    color: #3f3c4c;
    font-size: 30pt;
    font-weight: 700;
    text-align: center;
    margin-bottom: 90px; }

.usos {
  background-color: #d9d8db;
  padding: 80px 0; }

.testimonios {
  background-color: #ffffff;
  padding: 80px 0; }

.footer {
  background-color: #3f3c4c;
  padding: 90px 0 140px 0; }
  .footer .logo img {
    max-width: 100%; }
  .footer h2 {
    color: white;
    font-size: 12pt;
    font-weight: 400; }
  .footer p {
    color: white;
    font-size: 10pt; }
  .footer .redes img {
    padding-left: 15px; }
