// UTILIDADES



// - - - - - - - - 
// INDEX
// - - - - - - - - 

.menu
  background-color: #3f3c4c
  padding: 5px 0
  .logo
    max-width: 100%

.main-menu ul li
  padding-top: 25px
  list-style: none
  display: inline-flex
  text-transform: uppercase
  font-family: "Avenir Next"
  a
    color: white
    margin-right: 10px

// PRESENTACION

.presentacion
  padding-top: 120px
  padding-bottom: 100px
  font-family: "Avenir Next"
  font-size: 12pt

.presentacion .caracteristicas
  padding: 50px 0

.caracteristicas
  img
    max-width: 40%
    text-align: center
  .primario
    background-color: #ff414d
    border-radius: 5px
    border: none
    padding: 5px 20px
    color: white
    font-size: 12pt
    font-weight: 500

// - - - - - - - - 
// HERO
// - - - - - - - - 
#pieza
  display: block
  width: 350px
  height: 200px
  background-image: url("../img/cork.jpg")

//CSS ANIMATION Flip X Zoom In Edited

.flipXZoomIn
  animation-name: flipXZoomIn
@keyframes flipXZoomIn
  from
    transform: perspective(600px) rotateX(0deg) scale(1)
    animation-timing-function: ease-out
  39%
    background-image: url("../img/cork.jpg")
  40%
    transform: perspective(600px) rotateX(-90deg) scale(1.8)
    animation-timing-function: ease-out
    background-image: url("../img/envio.png")
  80%
    transform: perspective(600px) rotateX(-180deg) scale(.7)
    animation-timing-function: ease-in
    background-image: url("../img/envio.png")
  to
    transform: scale(1)
    background-image: url("../img/envio.png")

.cssanimation, .cssanimation span
  animation-duration: 3s


// MATERIALES

.materiales
  background-color: #e4f5f6
  padding: 80px 0
  h1
    text-transform: uppercase
    color: #ff414d
    font-size: 30pt
    font-weight: 700
    text-align: center
    margin-bottom: 90px
  img
    max-width: 100%
    margin: 0px 90px

.productos
  background-color: #ffd9db
  padding: 80px 0
  padding-bottom: 400px
  h2
    text-transform: uppercase
    color: #3f3c4c
    font-size: 30pt
    font-weight: 700
    text-align: center
    margin-bottom: 90px

// OTROS PRODUCTOS

=animateBoard($duration, $repeat, $name)
  animation-name: $name
  animation-iteration-count: $repeat
  animation-duration: $duration

.animationWrapper
  width: 100%
  padding-bottom: 55%
  background-color: yellow
  position: relative
  .desk
    position: absolute
    background-image: url("../img/desk.png")
    width: 100%
    height: 100%
    display: block
    background-color: #af3f3f2e
    background-size: contain
    background-repeat: no-repeat
    background-position: center
  .plato
    +animateBoard (2s, 1, fall)
    position: absolute
    background-image: url("../img/platocactus.png")
    top: 0
    left: 26%
    width: 50%
    height: 30%
    // background-color: red
  .cactusuno
    +animateBoard (2s,1, falltwo)
    position: absolute
    background-image: url("../img/cactus1.png")
    top: 0
    left: 26%
    width: 200px
    height: 200px
  .cactusdos
    +animateBoard (2s,1, fallthree)
    position: absolute
    background-image: url("../img/cactus2.png")
    top: 0
    left: 20%
    width: 100%
    height: 100%

// PRODUCTOS ANIMATION

@keyframes fall
  0%
    top: 0
  50%
    top: 30px
  75%
    top: 30px
  100%
    top: 30px 

@keyframes falltwo
  0%
    top: 0
  50%
    top: 27px
  75%
    top: 27px
  100%
    top: 27px 

@keyframes fallthree
  0%
    top: 0
  50%
    top: 27px
  75%
    top: 27px
  100%
    top: 27px 

// USOS

.usos
  background-color: #d9d8db
  padding: 80px 0

.testimonios
  background-color: #ffffff
  padding: 80px 0

.footer
  background-color: #3f3c4c
  padding: 90px 0 140px 0
  .logo img
    max-width: 100%
  h2
    color: white
    font-size: 12pt
    font-weight: 400
  p
    color: white
    font-size: 10pt
  .redes img
    padding-left: 15px